<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Espace Admin
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="./dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="./liste" class="list-group-item list-group-item-action bg-light">Sessions</a>
        <a routerLink="./formateur" class="list-group-item list-group-item-action bg-light">Formateurs</a>
        <a routerLink="./participant" class="list-group-item list-group-item-action bg-light">Participants</a>
      </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebar()">Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
           
            <li class="nav-item">
              <p>Date & Adresse</p>
            </li>
            <li class="nav-item disconnect">
              <button >logout</button>
             
            
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <router-outlet> </router-outlet>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>


