<body>
    <section>
        <div>
            <ul>
                <li id="li1">
                    <img src= "assets/icon2.png"> 
                    <span> 3 Sessions </span>
                </li>
                <li  id="li2">
                    <img src= "assets/icon1.png"> 
                    <span> 4 participants </span>
                </li>
                <li  id="li3">
                    <img src= "assets/.png"> 
                    <span> 1 Formateurs </span>
                </li>
            </ul>
        </div>
        <div>
            <table id="tab1">
                <tr>
                   <th> Stack </th>
                    <th>Nombre de Sessions </th>
                </tr>
                <tr>
                    <td>MEAN Stack </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Android</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Ionic </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Angular </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>NodeJS </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Xamarin </td>
                    <td>1</td>
                </tr>
            </table>
            <table id="tab2">
                <tr><th> top Formateurs</th></tr>
                
            </table>
        </div>
    </section>
</body>
